<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stathis.unipiapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".timber.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/unipi_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/unipi_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnipiApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.getInTouch.GetInTouchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.eclassAnnouncements.EclassAnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contact.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.students.StudentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.professors.ProfessorsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.department.DepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.announcements.AnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lessons.LessonsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.intro.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>